body {
    color: #343d46;
    font-family: monospace;
    background-color: #343d46;
}

p {
    background-color: #c0c5ce;
    }

#title{font-size: x-large;}
        a.ablack{color:black !important;}
        li{margin-bottom:8px;}
        ul,ol{margin-left:24px;margin-right:24px;}
        
#all_posts{margin-top:24px;text-align:center;}
        .subtitle{font-size:small;margin:12px 
0px;background-color:#c0c5ce;}
        .content p{margin-left:24px;margin-right:24px;background-color:#c0c5ce;}
        h1{margin-bottom:12px !important;}
        #description{font-size:large;margin-bottom:12px;}
        h3{margin-top:42px;margin-bottom:8px;}
        h4{margin-left:24px;margin-right:24px;}
        img{max-width:100%;}
        #twitter{line-height:20px;vertical-align:top;text-align:right;font-style:italic;color:#333;margin-top:24px;font-size:14px;}
