#divbodyholder{
        padding:5px;
        width:100%;
        max-width:874px;
        margin:24px;
        }

#divbody{
        border: solid 1px;
        background-color:#c0c5ce;
        padding:0px 48px 24px 48px;
        top:0;
        box-shadow: 5px 10px;
        }

.headerholder{
        background-color:#c0c5ce;
        border-bottom:solid 1px;
        border-top:solid 1px;
        border-left:solid 1px;
        border-right:solid 1px;
        box-shadow: 5px 10px;
        }

.header{
        width:100%;
        max-width:800px;
        margin:0px auto;
        padding-top:24px;
        padding-bottom:8px;
        }

.content{
        margin-bottom:5%;
        }

.nomargin{
        margin:0;
        }

.description{
        margin-top:10px;
        border-top:solid 1px #666;
        padding:10px 0;
        }
        
h3{
        font-size:20pt;
        color: #343d46;
        width:100%;
        font-weight:bold;
        margin-top:32px;
        margin-bottom:0;
        }

.clear{
        clear:both;
        }

#footer{
        padding-top:10px;
        color:#343d46;
        text-align:center;
        font-size:small;
        }

a{
        text-decoration:none;
        color:#339900;
        }

blockquote{
        background-color:#65737e;
        display:block;
        border-radius:2.5px;
        padding:1em;
        margin-top:1em;
        margin-bottom:1em;
        margin-left:20%;
        margin-right:20%;
        }